.table-display {
    border-collapse: collapse;
    border: 1px solid #333;
    font: normal 19px Arial, Helvetica, sans-serif;
   

}
.table-display td, .table-display th {
    border: 1px solid #333;
    padding: 5px;
}

.verticalTableHeader {
    text-align:center;
    white-space:nowrap;
    transform-origin:50% 50%;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
}
.verticalTableHeader:before {
    content:'';
    padding-top:110%;/* takes width as reference, + 10% for faking some extra padding */
    display:inline-block;
    vertical-align:middle;
}
